/*
TODO(you): Write any additional styles you need here.
*/
#music {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
}

footer {
    font-size: 24px;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    /*place holder*/
    background-color: red;
  }