/*
TODO(you): Write any additional styles you need here.
*/
#music {
    display: flex;
    flex-direction: column;
    height: 100vh;

    /*for the background gif*/

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

#background-gif {
    flex-grow: 1;
}

#buffer-gif {
    display: none;
    background-color:
        rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
}

footer {
    font-size: 24px;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
